<div id="personal_content">
	<div class= "col-lg-9">
		<%= simple_form_for @employee, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
		<div class="col-lg-6">
			<div class="form-group">
				<label class="control-label col-lg-5">Firstname</label>
				<div class="col-lg-7">
					<%= f.text_field 'fName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Place of Birth</label>
				<div class="col-lg-7">
					<%= f.text_field 'placeBirth', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Gender</label>
				<div class="col-lg-7">
					<%= f.select 'gender', ['Male', 'Female'], {}, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Citizenship</label>
				<div class="col-lg-7">
					<%= f.text_field 'citizenship', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Language</label>
				<div class="col-lg-7">
					<%= f.text_field 'language', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Height</label>
				<div class="col-lg-7">
					<%= f.text_field 'height', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Hair</label>
				<div class="col-lg-7">
					<%= f.text_field 'hair', class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group">
				<label class="control-label col-lg-5">Lastname</label>
				<div class="col-lg-7">
					<%= f.text_field 'lName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Date of Birth</label>
				<div class="col-lg-7">
					<%= f.text_field 'dateBirth', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Civil Status</label>
				<div class="col-lg-7">
					<%= f.select 'civilStatus', ['Single', 'Married', 'Widow', 'Windower', 'Separated'], {}, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Religion</label>
				<div class="col-lg-7">
					<%= f.text_field 'religion', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Blood Type</label>
				<div class="col-lg-7">
					<%= f.text_field 'bloodType', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Weight</label>
				<div class="col-lg-7">
					<%= f.text_field 'weight', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Complexion</label>
				<div class="col-lg-7">
					<%= f.text_field 'complexion', class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="img-thumbnail" style="width: 200px; height: 210px; margin-left: 20%; ">
			<img width="100%" height= "100%" src="http://theroboerp.com/app/uploads/noimage.png">
		</div>
		<button class="btn btn-primary btn-block">Browse</button>
	</div>

	<% end %>
</div>
<div id="basic_contact_content">
	<%= simple_form_for @employee, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-4">
			<h4>Father Information</h4><hr>
			<div class="form-group">
				<label class="control-label col-lg-5">Name</label>
				<div class="col-lg-7">
					<%= f.text_field 'fatherName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Address</label>
				<div class="col-lg-7">
					<%= f.text_field 'faAdd', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Occupation</label>
				<div class="col-lg-7">
					<%= f.text_field 'faOccupation', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Company</label>
				<div class="col-lg-7">
					<%= f.text_field 'faCompany', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Contact No</label>
				<div class="col-lg-7">
					<%= f.text_field 'faNo', class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h4>Mother Information</h4><hr>
			<div class="form-group">
				<label class="control-label col-lg-5">Name</label>
				<div class="col-lg-7">
					<%= f.text_field 'motherName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Address</label>
				<div class="col-lg-7">
					<%= f.text_field 'moAdd', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Occupation</label>
				<div class="col-lg-7">
					<%= f.text_field 'moOccupation', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Company</label>
				<div class="col-lg-7">
					<%= f.text_field 'moCompany', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Contact No</label>
				<div class="col-lg-7">
					<%= f.text_field 'moNo', class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h4>Spouse Information <%= link_to 'Add Children', employee_new_path, class: "btn btn-info pull-right" %> </h4> <hr>
			<div class="form-group">
				<label class="control-label col-lg-5">Name</label>
				<div class="col-lg-7">
					<%= f.text_field 'spouseName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Address</label>
				<div class="col-lg-7">
					<%= f.text_field 'spAdd', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Occupation</label>
				<div class="col-lg-7">
					<%= f.text_field 'spOccupation', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Company</label>
				<div class="col-lg-7">
					<%= f.text_field 'spCompany', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Contact No</label>
				<div class="col-lg-7">
					<%= f.text_field 'spNo', class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="emergency_contact_content">
	<%= simple_form_for @employee, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-4">
			<h4>Father Information</h4><hr>
			<div class="form-group">
				<label class="control-label col-lg-5">Name</label>
				<div class="col-lg-7">
					<%= f.text_field 'fatherName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Address</label>
				<div class="col-lg-7">
					<%= f.text_field 'faAdd', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Occupation</label>
				<div class="col-lg-7">
					<%= f.text_field 'faOccupation', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Company</label>
				<div class="col-lg-7">
					<%= f.text_field 'faCompany', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Contact No</label>
				<div class="col-lg-7">
					<%= f.text_field 'faNo', class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h4>Mother Information</h4><hr>
			<div class="form-group">
				<label class="control-label col-lg-5">Name</label>
				<div class="col-lg-7">
					<%= f.text_field 'motherName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Address</label>
				<div class="col-lg-7">
					<%= f.text_field 'moAdd', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Occupation</label>
				<div class="col-lg-7">
					<%= f.text_field 'moOccupation', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Company</label>
				<div class="col-lg-7">
					<%= f.text_field 'moCompany', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Contact No</label>
				<div class="col-lg-7">
					<%= f.text_field 'moNo', class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h4>Spouse Information <%= link_to 'Add Children', employee_new_path, class: "btn btn-info pull-right" %> </h4> <hr>
			<div class="form-group">
				<label class="control-label col-lg-5">Name</label>
				<div class="col-lg-7">
					<%= f.text_field 'spouseName', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Address</label>
				<div class="col-lg-7">
					<%= f.text_field 'spAdd', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Occupation</label>
				<div class="col-lg-7">
					<%= f.text_field 'spOccupation', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Company</label>
				<div class="col-lg-7">
					<%= f.text_field 'spCompany', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-5">Contact No</label>
				<div class="col-lg-7">
					<%= f.text_field 'spNo', class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<%= end %>
</div>

<div id="education_content">
	<%= simple_form_for @education, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-5">
			<div class="form-group">
				<label class="control-label col-lg-4">Level Type</label>
				<div class="col-lg-8">
					<%= f.select 'levelType', ['Post Graduate', 'College', 'High School', 'Vocational'], {}, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Year Graduated</label>
				<div class="col-lg-8">
					<%= f.text_field 'yearGrad', class: "form-control",  type: "number" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Course/Degree</label>
				<div class="col-lg-8">
					<%= f.text_field 'course', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">School</label>
				<div class="col-lg-8">
					<%= f.text_field 'school', class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="awards_content">
	<%= simple_form_for @awards, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-5">
			<div class="form-group">
				<label class="control-label col-lg-4">Name</label>
				<div class="col-lg-8">
					<%= f.text_field 'name', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Institution</label>
				<div class="col-lg-8">
					<%= f.text_field 'institution', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Date Given</label>
				<div class="col-lg-8">
					<%= f.text_field 'dateGiven', class: "form-control", type: "number" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="exam_content">
	<%= simple_form_for @exam, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-5">
			<div class="form-group">
				<label class="control-label col-lg-4">Exam Type</label>
				<div class="col-lg-8">
					<%= f.text_field 'name', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Rating</label>
				<div class="col-lg-8">
					<%= f.text_field 'rating', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">License No</label>
				<div class="col-lg-8">
					<%= f.text_field 'licenseNo', class: "form-control", type: "number" %>
				</div>
			</div>
		</div>
		<div class="col-lg-3 pull-right">
			<div class="img-thumbnail" style="width: 200px; height: 210px; margin-left: 20%; ">
				<img width="100%" height= "100%" src="http://theroboerp.com/app/uploads/noimage.png">
			</div>
			<button class="btn btn-primary btn-block">Browse</button>
		</div>
	</div>
	<% end %>
</div>

<div id="work_content">
	<%= simple_form_for @work, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-6">
			<div class="form-group">
				<label class="control-label col-lg-3">Position</label>
				<div class="col-lg-7">
					<%= f.text_field 'position', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">Company</label>
				<div class="col-lg-7">
					<%= f.text_field 'company', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">Status</label>
				<div class="col-lg-7">
					<%= f.select 'status', ['Permanent', 'Contractual', 'Job Order'], {}, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">Reason</label>
				<div class="col-lg-7">
					<%= f.text_field 'reason', class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="form-group">
				<label class="control-label col-lg-3">From</label>
				<div class="col-lg-7">
					<%= f.text_field 'durFrom', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">To</label>
				<div class="col-lg-7">
					<%= f.text_field 'durTo', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">Salary</label>
				<div class="col-lg-7">
					<%= f.text_field 'salary', class: "form-control", type: "number" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="skill_content">
	<%= simple_form_for @skills, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-5">
			<div class="form-group">
				<label class="control-label col-lg-4">Type</label>
				<div class="col-lg-8">
					<%= f.text_field 'type', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Name</label>
				<div class="col-lg-8">
					<%= f.text_field 'name', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Proficiency Level</label>
				<div class="col-lg-8">
					<%= f.select "level", ['Functional', 'Intermediate', 'Upper Intermediate', 'Advance', 'Professional'], {}, {class: "form-control"} %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="organization_content">
	<%= simple_form_for @organization, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-5">
			<div class="form-group">
				<label class="control-label col-lg-4">Institution</label>
				<div class="col-lg-8">
					<%= f.text_field 'institution', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Title</label>
				<div class="col-lg-8">
					<%= f.text_field 'title', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">From</label>
				<div class="col-lg-8">
					<%= f.text_field 'started', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">To</label>
				<div class="col-lg-8">
					<%= f.text_field 'ended', class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="training_content">
	<%= simple_form_for @training, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-5">
			<div class="form-group">
				<label class="control-label col-lg-3">Name</label>
				<div class="col-lg-7">
					<%= f.text_field 'name', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">From</label>
				<div class="col-lg-7">
					<%= f.text_field 'started', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">To</label>
				<div class="col-lg-7">
					<%= f.text_field 'ended', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">Remarks</label>
				<div class="col-lg-7">
					<%= f.text_field 'remarks', class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="form-group">
				<label class="control-label col-lg-3">Institution</label>
				<div class="col-lg-7">
					<%= f.text_field 'institution', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">Venue</label>
				<div class="col-lg-7">
					<%= f.text_field 'venue', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">Speaker</label>
				<div class="col-lg-7">
					<%= f.text_field 'speaker', class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="medical_content">
	<%= simple_form_for @medical, url: employee_index_path, html: {class: "form-horizontal"} do |f| %>
	<div class="col-lg-12">
		<div class="col-lg-5">
			<div class="form-group">
				<label class="control-label col-lg-4">Condition</label>
				<div class="col-lg-8">
					<%= f.text_field 'condition', class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Since</label>
				<div class="col-lg-8">
					<%= f.text_field 'started', class: "form-control", type: "number" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-4">Physician</label>
				<div class="col-lg-8">
					<%= f.text_field 'physician', class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>