<nav class="navbar navbar-default" id="fontall1">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">HRIS</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a>Welcome!</a></li>
		</ul>
	</div>
	<div class="container">
		<ul class="nav nav-justified">
			<li>
				<%= link_to '<span id="nav-menu" class="fa fa-home dashboard"></span>Dashboard'.html_safe, employee_index_path, id:"nav-font" %>
			</li>
			<li class="dropdown">
				<%= link_to '<span id="nav-menu" class="fa fa-building affiliate"></span>Affiliates<span class="caret"></span>'.html_safe, '#', id:"nav-font" %>
				<ul class="dropdown-menu">
					<li><%= link_to "Company", company_index_path %></li>
					<li><%= link_to "Branch", branchcom_index_path %></li>
				</ul>
			</li>
			<li>
				<%= link_to '<span id="nav-menu" class="fa fa-users employee"></span>Employee'.html_safe, employee_index_path, id:"nav-font" %>
			</li>
			<li>
				<%= link_to '<span id="nav-menu" class="fa fa-money claim"></span>Service History'.html_safe, service_index_path, id:"nav-font" %>
			</li>
			<li>
				<%= link_to '<span id="nav-menu" class="fa fa-car leave"></span>Leaves'.html_safe, employee_index_path, id:"nav-font" %>
			</li>
			<li class="dropdown">
				<%= link_to '<span id="nav-menu"class="fa fa-calendar timesheet"></span>Timesheet<span class="caret"></span>'.html_safe, employee_index_path, id:"nav-font" %>
				<ul class="dropdown-menu">
					<li><%= link_to "Attendance", '#' %></li>
					<li><%= link_to "Holidays", '#' %></li>
				</ul>
			</li>
			<li>
				<%= link_to '<span id="nav-menu" class="fa fa-briefcase job"></span>Jobs'.html_safe, employee_index_path, id:"nav-font" %>
			</li>
		</ul>
	</div>
</nav>